@media screen and (max-width: 767.98px){
    .container{
      margin-top: -6rem!important;
    }
}
@media screen and (min-width: 768px){
    .container{
        position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: auto!important;
    }
}
    