<button (click)="openWithTemplate(tpl)" class="btn btn-sm btn-primary">Set Budget</button>

<ng-template #tpl>
  <div class="modal-card">
    <form #f="ngForm" (ngSubmit)="onSubmit(f, success)">
      <header class="modal-card-head">
        <h1>Set Monthly Budget</h1>
      </header>
      <section class="modal-card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-rupee-sign"></i></span>
                </div>
                <input
                  type="number"
                  autocomplete="off"
                  name="amount"
                  [ngModel]="(budget$ | async)?.monthly"
                  required
                  style="flex: 1"
                  class="form-control form-control-alternative"
                  placeholder="Amount"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button (click)="close()" type="button" class="btn btn-secondary">Close</button>
          <button type="submit" class="btn btn-default">Set</button>
        </div>
      </footer>
    </form>
  </div>
</ng-template>
<ng-template #success>
  <div class="model-card">
    <h1>Budget Set Successfully</h1>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button (click)="close()" type="button" class="btn btn-secondary">Close</button>
      </div>
    </footer>
  </div>
</ng-template>
