.navbar-brand{
    transform: translate(-7px, 0px);
    img{
        filter: hue-rotate(139deg) brightness(1.5) contrast(2);
    }
    .brandName{
        // font-size: 1.5rem;
        font-weight: bold;
        color: #f4375b;
        text-decoration: none;
        margin: 0;
        // font-size: 1.5rem;
    }
}