<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row card-grid">
        <div class="col-xl-3 col-lg-6">
          <app-total-balance></app-total-balance>
        </div>
        <div class="col-xl-3 col-lg-6">
          <app-total-expenses></app-total-expenses>
        </div>
        <div class="col-xl-3 col-lg-6">
          <app-total-income></app-total-income>
        </div>
        <div class="col-xl-3 col-lg-6">
          <app-total-savings></app-total-savings>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-7 mb-5 mb-xl-0">
      <app-add-transactions></app-add-transactions>
      <app-meter-chart-budget></app-meter-chart-budget>
    </div>
    <div class="col-xl-5">
      <app-bar-chart-expenses></app-bar-chart-expenses>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-7 mb-5 mb-xl-0">
      <app-transactions-table></app-transactions-table>
    </div>
    <div class="col-xl-5">
      <app-expense-summary-table></app-expense-summary-table>
    </div>
  </div>
</div>
